:root {
  /* General */
  --white: #ffffff;

  /* Background */
  --baseDarkBackgroundColour: #010f17;
  --baseBackgroundColour: #011b2a;
  --statsDarkerAccent: #071723;

  /* Special */
  --positiveColour: #00b8b2;
  --negativeColour: #ef7466;

  /* Statistics */
  --basePurpleColour: #9078e8;

  /* Text */
  --baseTextGray: #bdb8b3;
  --baseTextColour: #b9d1fc;
  --baseTextHighlightingColour: #36d7fd;
}
